
.g1{color:#3e81f4;}.o1{color:#e94333;}.o2{color:#fabf03;}.g2{color:#4286f3;}.l{color:#34a853;}.e{color:#e84135;}



@media screen and (min-width: 300px) {
    .google{
        font-size: 3em;
        font-family: 'Coustard';
        margin-top: 3em;
    }
    .button1{
        margin-left: 6em;
        margin-bottom: 0.5em;
     
    }
    .button2{
        margin-left:5.5em;
     
    }
    

}
@media screen and (min-width: 600px) {
    .google{
        font-size: 3em;
        font-family: 'Coustard';
        margin-top: 2em;
    }
    .button1{
        margin-left: 7em;
    }
    .button2{
        margin-left:2em;
     
    }
    

}


@media screen and (min-width: 700px) {
    .google{
        font-family: 'Coustard';
        font-size: 10em;
        margin-top: 0.8em;
    }
    .button1{
        margin-left: 25em;
    }
    .button2{
        margin-left:2em;
     
    }
    
}